<div class="chat">
    <header class="header accent">
        <h1>Simple Chat</h1>
        <a href="/logout" class="logout">logout</a>
    </header>

    <ul class="messages unstyled">
        <li class="message" ng-repeat="m in messages" ng-class-even="'striped'">
            <span class="time">{{ m.prettyTime }}</span>
            <span class="author">{{ m.author }}:</span>
            <span class="content">{{ m.message }}</span>
        </li>
    </ul>

    <form ng-submit="submit()">
        <input type="text" class="chat-text" ng-model="message"/>
    </form>
</div>