!!!
html(ng-app="simple-chat")
    head
        title= "Chat"
        link(rel="stylesheet", type='text/css', href="/css/site.css")
    body
        header.header.accent
            h1 Simple Chat
        .login
            a(href="/auth/google" class='sign-in') Sign in with Google
